<% if @article.errors.any? %>
  <ul>
    <%= @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= simple_form_for @article, html: { class: 'form-horizontal' },
    wrapper: :horizontal_form do |f| %>
  <%= f.input :title %>
  <%= f.file_field :logo %>
  <%= f.input :body, as: :ckeditor,
      input_html: { ckeditor: {:toolbar => 'Full'} } %>
  <%= f.button :submit %>
<% end %>
